<h2 id="lecture-title">
  <%= @lecture.title%>
</h2>
<h3 id='lecturer-name'><%= link_to @lecture.lecturer.name || 'N/A', user_path(@lecture.lecturer) %></h3>
<p>5th March 2013</p>

<div class="lecture-container">
  <div class="lecture-left">
    <p class="action">Add description</p>
  </div>
  <div class="lecture-right">
<iframe src="http://www.slideshare.net/slideshow/embed_code/31514" width="361" height="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 
  </div>
</div>

<div class="lecture-container">
  <div class="lecture-left">
    <p class="action">Add other documents</p>
  </div>
  <div class="lecture-right">
    <p class="action">Add reading list</p>
  </div>
</div>



<h3>Attendees</h3>

<% if @users.any? %>
<ul class="stripe">
<% @users.each do |user| %>
<li class="lecture-title">
  <%= image_tag(current_user.avatar) %>
  <a href="<%= user_url(user) %>"><%= user.name %>
</li>
<% end %>
</ul>
<% end %>


