<!DOCTYPE html>
<html>
<head>
  <title>Kifa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body id="<%= params[:controller]%>">
  <div id="wrapper">
    <h1 id='logo'><%= link_to 'kifa', '/' %></h1>
    <div id="auth">
      <%- if current_user %>
        <%= current_user.username %>
      <% else %>
        <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
