<!DOCTYPE html>
<html>
<head>
  <title>Kifa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body id="<%= params[:controller]%>">
  <div id="wrapper">
    <h1 id='logo'><%= link_to 'kif', '/' %></h1>
    <div id="auth">
      <%- if current_user %>
        <%= image_tag(current_user.avatar) %>
        <%= link_to current_user.name, user_path(current_user) %> | <a href="/logout">Logout</a>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
